html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  letter-spacing: -0.03em;
}

h1 {
  margin-top: 73px;
  font-size: 61px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
}

header {
  margin: 0 auto;
  width: 1400px;
}

main {
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #121212;
}

/* --------------------ШАПКА------------------------------------------------------------------ */

.header__nav {
  margin-left: 124px;
  margin-top: 32px;
  width: 1151px;
}

.nav__list {
  float: right;
}

.nav-link {
  margin-left: 52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  color: #121212;
}

.nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* --------------------МАЙН------------------------------------------------------------------ */

.intro {
  margin: 0 auto;
  width: 1150px;
}

.image-background {
  margin: 30px 0 0 0;
  position: relative;
}

.intro__text {
  position: absolute;
  bottom: 44px;
  left: 40px;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
}
/* --------------------О НАС------------------------------------------------------------------ */
.about {
  margin: 0 auto;
  width: 1150px;
}
.about h2 {
  margin: 150px 0 0 0px;
}

.about__text {
  margin-top: 27px;
  font-size: 46px;
  line-height: 61px;
  letter-spacing: -0.03em;
}
.button {
  margin-top: 30px;
  width: 255px;
  height: 67px;
  background: #ad1818;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 67px;
  display: block;
  color: #ffffff;
}
/* -------------------ПРОЕКТЫ------------------------------------------------------------------ */
.projects {
  margin: 0 auto;
  width: 1150px;
}
.projects h2 {
  margin: 150px 0 0 0;
}
.first__img-project {
  margin-top: 30px;
}
.living__img-project,
.kitchen__img-project {
  margin-top: 90px;
}
.project__title {
  margin: 11px 0 15px 0;
  font-size: 27px;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #121212;
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
}

.button__all-projects {
  margin-top: 95px;
  width: 1150px;
  padding: 56px 0;
  display: block;
  border: 1px solid #ad1818;
  text-decoration: none;
  font-size: 30px;
  line-height: 41px;
  color: #ad1818;
  letter-spacing: -0.03em;
  text-align: center;
  border-radius: 5px;
}
.button__all-projects:hover {
  color: #ffffff;
  background-color: #ad1818;
}
/* --------------------УСЛУГИ------------------------------------------------------------------ */
.services {
  max-width: 100%;
  height: 1844px;
  background-color: #121212;
}
.service__wrap {
  margin: 0 auto;
  width: 1150px;
}

.services-list {
  margin: 0 auto;
  width: 1150px;
}
.services h2 {
  margin: 151px 0 0 0;
  padding: 150px 0 30px 0;

  color: #ffffff;
}
.service p {
  margin: 15px 0 60px 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
}

/* --------------------ГАЛЕРЕЯ------------------------------------------------------------------ */
.gallery img {
  width: 100%;
  height: 717px;
}
.gallery__img {
  position: relative;
}
.gallery__text {
  position: absolute;
  top: 575px;
  left: 125px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

/* --------------------КОНТАКТЫ------------------------------------------------------------------ */
.contacts {
  margin-left: 125px;
  text-decoration: none;
}
.contacts h2 {
  margin-top: 130px;
  margin-bottom: 35px;
}
.contacts a:nth-last-child(1) {
  margin-top: 30px;
  display: inline-block;
  letter-spacing: -0.03em;
}
.contacts a:nth-last-child(1):hover {
  opacity: 0.5;
  border-bottom: 2px solid #121212;
}

.contacts h2::before {
  margin-top: 151px;
  margin-bottom: 13px;
  content: "";
  display: block;
  width: 13px;
  height: 22px;
  background-image: url("../resources/iconephone.png");
  background-position: 50%;
}
.contacts a {
  display: block;
  text-decoration: none;
  font-size: 59px;
  line-height: 60px;
  color: #121212;
}

/* --------------------ФУТЕР------------------------------------------------------------------ */

footer {
  margin-top: 152px;

  height: 229px;
  background-color: #121212;
  padding-top: 60px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.nav_footer {
  color: #121212;
}
.footer__inner {
  display: flex;
  justify-content: center;
}

.footer_link {
  margin-right: 55px;
  text-decoration: none;
  color: #ffffff;
}
.footer_link:nth-child(4) {
  margin-right: 0;
}
.footer_link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.footer_text {
  margin-top: 87px;
  margin-left: 949px;

  width: 409px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.footer_text:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
